@inherits LayoutComponentBase

<header>
    <div class="section">
        <h1>Web Design: HTML & CSS</h1>
        <p class="hide-small">
            This is the <span class="brand-slogan">slogan!</span> of the website.
        </p>
    </div>
</header>

<div class="content-area">
    <div class="container">
        <aside class="my-sidebar">
            <MyNavMenu />
        </aside>
        <div class="main-content section">
            @Body
        </div>
    </div>
</div>

<div class="section">
    <footer>
        <p>
            &copy; - 2021 This is the top level footer.
        </p>
    </footer>
</div>

