
<div class="site-nav">
    <ul>
        <li>
            <NavLink class="nav-item" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-item" href="01-Blazor">
                01. Blazor
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-item" href="02-ComponentsPartOne">
                02. Components Part One
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-item" href="02-ComponentsPartTwo">
                03. Components Part Two
            </NavLink>
        </li>
    </ul>
</div>

@code {

}
