
<!-- This component is consumed by the InputMarkdown component which in -->
<!-- turn is consumed by the PersonForm component.                      -->
<div class="form-control overflow-hidden">
    <!-- Sanitized HTML constructed as an instance of   -->
    <!-- MarkupString that Blazor can render.            -->
    @HTMLContent
</div>
