@page "/privacy-policy"

<PageTitle>Privacy Policy</PageTitle>

<h2 class="mb-2">Privacy Policy</h2>
<p>
    This application collects and uses but does <strong>not</strong> share personal
    information from its users. This privacy policy explains what data we collect,
    why we collect it, and how we use it. We also inform you of your rights and
    choices regarding your data. By using our application, you agree to this privacy
    policy.
</p>
<p>
    We collect personal information that you voluntarily provide to us when you register
    for an account, use our services, or contact us. This includes your name, email, and
    birth date.
</p>
<p>
    We use your personal information for various purposes, such as:
</p>
<ul>
    <li>
        <p>
            To provide and improve our application and its features.
        </p>
    </li>
    <li>
        <p>
            To communicate with you and respond to your inquiries.
        </p>
    </li>
    <li>
        <p>
            To personalize your experience and show you relevant content and
            web push notifications when subscribed to the service.
        </p>
    </li>
    <li>
        <p>
            To protect our application and its users from fraud, abuse, or illegal
            activities.
        </p>
    </li>
    <li>
        <p>
            To comply with our legal obligations and enforce our terms of service.
        </p>
    </li>
</ul>
<p>
    We do <strong>not share</strong> your personal information with third parties
    such as service providers, analytic tools, or advertising partners. Unless required
    by law, we do <strong>not share</strong> your personal information with
    law enforcement or other authorities.
</p>
<p>
    You have certain rights and choices regarding your personal information, such as:
</p>
<ul>
    <li>
        <p>
            You can access, download, update, or delete your account information at 
            any time in your <a href="authentication/profile">personal profile</a> 
            page.
        </p>
    </li>
    <li>
        <p>
            You can opt out of receiving marketing emails from us by following the
            unsubscribe link in the email.
        </p>
    </li>
    <li>
        <p>
            You can download a copy of your personal information that we hold in
            the <span class="badge bg-primary">Personal Data</span> section of your
            <a href="authentication/profile">personal profile</a> page.
        </p>
    </li>
    <li>
        <p>
            You can contact us at any time if you have any questions or concerns about
            your privacy at our <a href="mailto:contacto@rafaelsanchez.ws">contact email</a>.
        </p>
    </li>
</ul>
<p>
    We use industry security standards such as  <a href="https://openid.net/developers/how-connect-works/">
        OpenID Connect
    </a> and <a href="https://oauth.net/2/">
        OAuth 2.0
    </a> to protect your personal information from unauthorized access, use, or
    disclosure. However, no method of transmission or storage is 100% secure, so we
    cannot guarantee the absolute security of your data.
</p>
<p>
    We may update this privacy policy from time to time to reflect changes in our
    practices or applicable laws. We will notify you of any material changes by
    posting the updated policy on our application or by email. Your continued use of
    our application after the update constitutes your acceptance of the new policy.
</p>


