
@page "/movies/create"
@attribute [Authorize(Policy = AuthZPolicies.ApiCreateContent)]

<PageTitle>Create Movie</PageTitle>

<div class="form-control">
    <h3 class="mb-0">Create Movie</h3>
    <p class="small text-muted">(open the browser's console)</p>

    @if (_availableGenres != null)
    {
        <MovieForm Movie="@_movie"
               UnSelectedGenres="@_availableGenres"
               SelectedGenres="@_selectedGenres"
               OnValidSubmit="@( (importedMovieDto) =>
                                        CreateMovie(importedMovieDto))"
               SelectedActors="_selectedActors" />
    }
</div>
