@page "/movies/edit/{MovieId:int}"
@attribute [Authorize(Policy = AuthZPolicies.ApiEditContent)]

<PageTitle>Edit Movie</PageTitle>

<div class="form-control">
    <h3 class="mb-0">Edit Movie</h3>
    <p class="small text-muted">(open the browser's console)</p>

    @if (_movie is not null)
    {
        <MovieForm Movie="_movie"
               SelectedGenres="_selectedGenres"
               UnSelectedGenres="_availableGenres"
               SelectedActors="_selectedActors"
               OnValidSubmit="@((importedMovieDto) =>
                                    EditMovieAsync(importedMovieDto))" />
    }

</div>
